<div class="svg-container pos-absolute-lt0">
    <!--SVG-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1280 720" width="100%" height="100%" preserveAspectRatio="none" style="filter:drop-shadow( 5px 5px 20px rgba(0,0,0,1));">
      <style>
        tspan { white-space:pre }
        .shp0 { fill: #f56301;
            
        } 
      </style>
      <path id="Shape 1" class="shp0" d="M0 0L0 660L0 720C0 720 41.5 720 245 720C448.5 720 564.5 567.38 572 427.87C577.4 327.51 546.3 124.86 759 74.81C810 62.81 877 59.88 1057.5 58.31C1222 55.88 1243.5 0 1243.5 0L0 0Z" />
    </svg>
    <!--SVG END-->
</div>
<div class="grid-landing-page">
    <!--Grid izquierdo-->
    <div class="grid-leftUp-landig flex-center-col">
        <h1 class="titular"> TRA LA LA <span class="scale-span orange-strong"> LA! </span> </h1>
        <h2 class="subtitular"> Reproduce tus canciones favoritas, es totalmente
            <span class="orange-strong scale-span">gratis</span> y sin anuncios!
        </h2>
    </div>
    <!--Grid derecho-->
    <div class="grid-rightDown-landig  flex-center-col">
        <div class="versus-grid">
            <div class="versus pink flex-center-col">
                <p class="pop-banner">MUSIC</p>
            </div>
            <div class="versus blue flex-center-col">
                <p class="indie-banner">CHILL</p>
            </div>
            <div class="absolut-center">
                <p class="AMdecoration">&</p>
            </div>
        </div>
        <div class="boton-start-battle">
            <p class="start-text">¡Comienza ya!</p>
            <div class="sumido flex-center-col">
                <p>></p>
            </div>
        </div>
    </div>
</div>