.svg-container {
    width: 100%;
    height: 120vh;
    z-index: 0;
}

.titular {
    cursor: pointer;
    font-weight: 600;
    font-size: calc(14px + (70 - 14) * ((100vw - 300px) / (1600 - 300)));
    text-align: left;
    width: 100%;
    margin-bottom: 90px;
    transform: skew( -10deg, -5deg) scaleY(1.4);
    line-height: 100%;
}

.subtitular {
    font-weight: normal;
    font-size: calc(14px + (50 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: 100%;
    margin-bottom: 50px;
}

.grid-landing-page {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 120vh;
    display: grid;
    grid-template-columns: 45% auto;
    grid-template-rows: auto;
}

.orange-strong {
    color: rgb(233, 55, 1);
    display: inline-block;
}

.scale-span {
    display: inline-block;
    transform: scaleY(1.15);
}

.grid-leftUp-landig {
    width: 100%;
    height: 100%;
    padding: 0px 100px 0px 100px;
}

.grid-rightDown-landig {
    width: 100%;
    height: 100%;
    /* border-left: 5px solid purple; */
    padding: 50px;
    position: relative;
}

.boton-start-battle {
    width: 50%;
    max-width: 350px;
    min-width: 280px;
    border-radius: 30px;
    line-height: 60px;
    text-align: center;
    box-shadow: -5px -5px 15px rgba( 255, 255, 255, 0.07), 5px 5px 15px rgba( 0, 0, 0, 0.99);
    transition: all 0.2s ease-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.boton-start-battle:hover {
    box-shadow: -3px -3px 12px rgba( 255, 255, 255, 0.06), 3px 3px 12px rgba( 0, 0, 0, 0.6), inset 2px 2px 15px rgba( 0, 0, 0, 0.8), inset -2px -2px 15px rgba( 255, 255, 255, 0.08);
    transform: scale(0.98);
}

.start-text {
    /* color: #c256f8; */
    color: #f56301;
    transition: transform 0.4s linear, opacity 0.3s linear;
    position: relative;
}

.boton-start-battle:hover .start-text {
    transform: translateX(-50%);
    opacity: 0;
}

.sumido {
    box-shadow: inset 2px 2px 15px rgba( 0, 0, 0, 0.8), inset -2px -2px 15px rgba( 255, 255, 255, 0.08);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate( calc(-100% - 10px), -50%);
    transition: all 0.3s ease-out;
}

.boton-start-battle:hover .sumido {
    box-shadow: inset 0px 0px 15px rgba(58, 42, 42, 0), inset -2px -2px 15px rgba( 255, 255, 255, 0.0);
    left: 50%;
    transform: translate( calc(-50%), -50%);
}

.versus-grid {
    display: grid;
    width: calc( ((40vw + 40vh)/2) + 10px);
    height: calc( (20vw + 20vh)/2);
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    position: relative;
}

.versus {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform: skewX(-5deg);
    z-index: 0;
    position: relative;
    transition: transform 1.5s linear;
}

.blue {
    background-color: rgb(84, 236, 247);
}

.pink {
    background-color: rgb(247, 77, 210);
}

.versus:nth-child(1):hover {
    transform: skewX(-5deg) translateY(-10px);
}

.versus:nth-child(2):hover {
    transform: skewX(-4deg) translate( 2px, -10px);
}

.indie-banner {
    text-shadow: -3px 2px 0px black;
    font-size: xx-large;
    letter-spacing: 7px;
}

.pop-banner {
    font-size: xx-large;
    text-shadow: -10px 8px 15px rgba(253, 192, 240, 0.9), -2px 2px 0px rgb(214, 61, 181);
}

.AMdecoration {
    font-size: 30px;
    transform: skew(-15deg);
    background-color: black;
    padding: 5px 15px;
}